.createProductContainer {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  &__item {
    &__images {
      margin-top: 20px;
      text-align: center;
      &__container {
        display: flex;
        flex-wrap: wrap;
        img {
          width: 200px;
          margin-right: 10px;
        }
      }
      &__update {
        border-bottom: 1px solid blue;
        color: blue;
        margin-bottom: 50px;
        // font-size: 18px;
      }
      &__inputImg {
        width: 0;
        height: 30px;
      }
    }
    &__img {
      text-align: center;
    }
    &__img img {
      width: 270px;
    }
    &__data {
      margin-top: 20px;
      &__title {
        margin-bottom: 20px;
        text-align: left;
        margin-left: 10px;
      }
    }
  }
}

.formProduct {
  &__input {
    margin: 10px;
    padding: 10px;
    background: #f0f0f0;
    border-radius: 25px;
  }
  &__btn {
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 20px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    background: #4c3dff;
    border-radius: 10px;
  }
}

.selectedMarket {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin: 10px;
  }
  &__span {
    margin-left: 3px;
    &__cancel {
      background-color: red;
      border-radius: 40px;
      color: white;
    }
  }
}

.formMarket__btn {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 20px;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  background: #4c3dff;
  border-radius: 10px;
}

@media (min-width: 992px) {
  .formProduct {
    &__input {
      padding: 10px;
      width: 600px;
      height: 600px;
    }
  }
  .inputProduct {
    margin-top: 30px;
    &__label {
      &__des {
        position: relative;
        margin-right: 20px;
        bottom: 60px;
      }
    }
    &__input {
      width: 400px;
      height: 40px;
      &__category {
        height: 40px;
        margin-top: 30px;
        width: 113px;
        margin-right: 360px;
      }
      &__description {
        width: 400px;
        height: 100px;
      }
    }
  }
  .createProductContainer {
    &__item__data__title {
      // font-size: 2rem;
    }
  }
  .createProductContainer {
    &__item {
      margin-top: 30px;
    }
    &__item__img img {
      width: 400px;
    }
    &__item__images__update {
      // font-size: 1.5rem;
    }
  }
}

.inputProduct {
  margin-top: 10px;
  margin-left: 20px;
  &__select__markets {
    margin-top: 10px;
    border: 1px solid #c7c5c5;
    border-radius: 15px;
    height: 30px;
    width: 210px;
  }
  &__markets {
    margin: 30px 0 0 20px;
    width: 230px;
  }
  &__category {
    margin-left: 20px;
  }
  &__label {
    margin-right: 20px;
  }
  &__input {
    width: 200px;
    padding-left: 10px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #c7c5c5;
    border-radius: 15px;
    &__category {
      background-color: blueviolet;
      width: 100px;
      height: 30px;
      background: #ffffff;
      border: 1px solid #c7c5c5;
      border-radius: 15px;
    }
    &__description {
      text-align: left;
      padding-left: 10px;
      padding-top: 5px;
      width: 250px;
      height: 80px;
      background: #ffffff;
      border: 1px solid #c7c5c5;
      border-radius: 15px;
    }
  }
  &__category {
    margin-top: 10px;
  }
}
.formMarket {
  margin: 10px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 25px;
}
.inputMarket {
  &__category {
    margin-left: 20px;
  }
  &__label {
    margin-right: 20px;
  }
  &__input__category {
    background-color: blueviolet;
    width: 90px;
    height: 30px;
    background: #ffffff;
    border: 1px solid #c7c5c5;
    border-radius: 15px;
  }
}
@media (min-width: 992px) {
  .inputMarket__input__category {
    width: 150px;
    height: 35px;
  }
}

.hide {
  transform: translate(-110%, 0);
  transition: transform 0.3s ease;
  position: absolute;
  display: none;
}
.virtual {
  &__label {
    margin-left: 20px;
  }
}
.location {
  &__label {
    margin-left: 20px;
  }
}
.formAddressMarket {
  display: grid;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 10px;
  max-width: 500px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  &__div {
    margin-top: 7px;
    display: inline-block;
    grid-column: 1 / 3;
  }
  &__label {
    grid-column: 1 / 2;
  }
  &__input,
  &__input__moreDetail {
    background: #ffffff;
    border: 1px solid #c7c5c5;
    border-radius: 18px;
    padding-left: 5px;
    margin-left: 10px;
    &__moreDetail {
      height: 50px;
    }
  }
  &__input {
    height: 30px;
    grid-column: 2 / 3;
    line-height: 30px;
  }
}
.location {
  margin-top: 8px;
}
