@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Nunito&family=Space+Mono&display=swap');
.ActivateAccount {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
