.btnStepper {
  display: flex;
  justify-content: space-around;
  &__next {
    border: 4px solid #4c3dff;
    border-radius: 10px;
    font-size: 1rem;
  }
  &__previous__btn {
    background-color: hotpink;
    border: 4px solid #4c3dff;
    color: black;
    background-color: white;
    height: 45px;
    font-weight: bolder;
    width: 180px;
    border-radius: 10px;
  }
}
.back_landing {
  border: 4px solid #4c3dff;
  border-radius: 10px;
  font-size: 1rem;
  height: 37px;
  font-weight: bolder;
  width: 200px;
}
