.addressTitle{
  margin:10px 0 0 20px;
}
.shipmentSummary{
  &__title{
    background-color:rgba(239, 239, 239, 1);
    padding: 10px;
    text-align: center;
  }
}
.containerDiv{
  margin: 0 20px 20px 20px;
}
.itemDiv{
  background-color:rgba(239, 239, 239, 1);
  display: flex;
  padding: 10px;
  &__change{
    display:block;
    text-align: right;
  }
  &__address{
    font-size: 17px;
  }
  &__place{
    width: 100px;
    padding-right: 11px;
  }
}
.totalShipping{
  padding: 10px;
  margin-top:10px;
  &__total{
    margin-right: 70px;
  }
  &__price{
    font-size: 17px;
  }
}
.btn{
  margin:0 40px 10px 40px;
  width: 200px;
  height: 35px;
  border: none;
  font-family: Nunito;
  font-size: 20px;
  color: #FFFFFF;
  border-radius: 10px;
  background: #65CB6F;
}
