$primary-color: white;
$secondary-color:#4C3DFF;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}
header{
    height: 200px;
}
.header{
    color: $primary-color;
    &__nav{
        display: flex;
        flex-direction: column;
    }
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        &-logo{
            font-size: 2.5rem;
        }
        &-bars, &-cart{
            font-size: 1.8rem;
        }
    }
    &__ul{
        z-index: 10;
        transform:translate(-100%,0);
        transition: transform .3s ease;
        background-color:#897ff1;
        /* position:absolute; */
        width: 100%;
        &--show{
            transform:translate(0,0);
        }
    }
    &__li{
        list-style-type: none;
        padding:20px;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 0.3px solid;
    }
    &__li:hover{
        background-color: $secondary-color;
    }
    &__des{
        margin-left: 20px;
        margin-right: 20px;
        &__d{
            background-color:#fff;
            width: 375px;
            border-radius: 70px;
            &__input{
                padding-left: 15px;
                width: 80%;
                border: none;
                height: 30px;
                outline: none;
                border-radius: 70px;
                margin-left: 5px;
                background-color: #eaeaee;
            }
            &__fa{
                width: 28px;
                color: black;
                text-align:right;
            }
        }
    }    
}
main{
    display: flex;
}
.filter{
    display: none;  
}
.container{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: center;
}
.sub-menu ul li{
    list-style-type: none;
}
.sub-menu a{
    color:black;
    font-weight: bold;
}
li a {
    text-decoration : none;
     color : #2d2f31;
    }
.filter__container {
    height: auto;
    background-color:#ffffff;
    margin : 20px 10px; 
}

.filter__title {
    font-weight: bold;
}
.slide {
    clear:both;
    width:100%;
    height:auto;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}
.slide li {padding : 15px;}
.footer{
    border-top: 1px solid black;
    padding: 20px 20px 5px 10px;
    display: grid;
    grid-template-columns: 60% auto auto auto;
    margin-top: 20px;
    &__item{
        font-size: 33px;
        color:#2714f8;
        font-weight: bolder;
    }
}
.card-body p{
    height: 30px;
}
.card-body__tag{
    text-decoration: none;
    color:black;
    padding: 5px 10px;
}
.card-body__tag:hover{
    color:white;
    background-color: #4C3DFF;;
    padding: 5px 10px;
    border-radius: 70px;
}
@media(min-width:992px){
    header{
        height: 90px;
    }
    .header{
        &__nav{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        &__main-logo{
            width: 150px;
        }
        &__des__d{
            display: inline-block;
            width: 1000px;
        }
        &__ul{
            transform:translate(0,0);
            display: flex;
            justify-content: flex-start;
            width: 40%;
            top: 20px;
            left: 60%;
            background-color:transparent;
        }
        &__li{
            font-size: 20px;
            border-bottom: none;
        }
        &__main-bars{
            display: none;
        }
        &__main-logo{
            font-size: 2rem;
            margin-top: 0px;
            margin-left: 30px;
        }
    }
    .filter{
        display: flex; 
        flex-direction: column; 
        align-items: center;
        width: 15%;
    }
    .container{
        width:80%;
    }
    .filter__container{
        width : 200px; 
    }
}
