.titleOrder{
  background-color: #EFEFEF;
  padding: 10px;
  margin:0 5px 0 5px;
}
.shippingProducts{
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  margin: 20px;
  border-bottom: solid 1px #d6d5d5;
}
.itemProduct{
  &__img{
    width: 85px;
    border-radius: 100px;
  }
  &__title{
    margin-right: 5px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
}
.total{
  margin-left: 8px;
  &__li{
    margin-bottom:15px;
    list-style: none;
  }
  &__subTotal{
    margin-right: 85px;
    font-size: 1.3rem;
    &__item__value{
      font-size: 1.2rem;
    }
  }
  &__send{
    margin-right: 45px;
  }
  &__item__value{
    margin-left: 90px;
  }
  &__estimatedAmount{
    font-size: 1.3rem;
    &__item__value{
      margin-left: 40px;
      font-size: 1.2rem;
    }
  }
}
