.reset__password--container {
  display: flex;
  flex-direction: column;
  label {
    margin: 1rem 0;
    input {
      outline: none;
      border: none;
      border-radius: 5px;
      box-shadow: 1px 1px 1px 1px #c0c0c0;
      padding: 0.5rem;
    }
  }
  .reset__password-button {
    margin-top: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #4c3dff;
    color: white;
    font-size: 20px;
    font-weight: 700;
  }
  .reset__password-button:hover {
    cursor: pointer;
  }
  .reset__password-button:active {
    transform: scale(0.95);
  }
}
