
.container{
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    //justify-content: space-around;
    justify-content: center;
}

@media(min-width:992px){
    .container{
        width:80%;
    }
}
